/*----------
------------------
-----------------------applying Google font Poppins */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&family=Montserrat:wght@400;500;700&family=Poppins:wght@300;400;500;700&family=Spline+Sans:wght@400;500&display=swap');




/* body section style */
body{
    margin-top:90px ;
    margin-left: 120px;
    margin-right: 120px;
    font-family: 'Poppins', sans-serif;
}



/* header section style */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h2{
    font-size: 2em;
}
.intro-animation{
    position: relative;
}
.intro-animation::after{
    content: "Influencer";
    color: #E02C6D;
    position: absolute;
    left: 0;
    top: 0;
    animation: typing 3s infinite;
}
@keyframes typing
 {
    0%{
        content: "";
    }
    5%{
        content: "|";
    }
    10%{
        content: "I|";
    }
    15%{
        content: "In|";
    }
    20%{
        content: "Inf|";
    }
    25%{
        content: "Infl|";
    }
    30%{
        content: "Influ|";
    }
    35%{
        content: "Influe|";
    }
    40%{
        content: "Influen|";
    }
    45%{
        content: "Influence|";
    }
    50%,90%{
        content: "Influencer|";
    }
    91%{
        content: "Influence|";
    }
    92%{
        content: "Influen|";
    }
    93%{
        content: "Influe|";
    }
    94%{
        content: "Influ|";
    }
    95%{
        content: "Infl|";
    }
    96%{
        content: "Inf|";
    }
    97%{
        content: "In|";
    }
    98%{
        content: "I|";
    }
    99%,100%{
        content: "|";
    }
    
}
}
/* animation for h2 */


 /*-------------
 --------------------- navigation bar style */
 .nav-menu{
     display: flex;
     gap: 20px;
 }
 nav>ul{
     /* display: flex;
     gap: 20px;
     flex-direction: row; */
   display: flex;
  gap: 20px;
 }
 nav>ul>li{
     list-style: none;
     
 }
 nav>ul>li>a{
     text-decoration: none;
     color: black;
     font-weight: 500;
 }
 /* ---------------
 ---------------------introduction styles */
 .intro{
     margin-top: 120px;
     display: flex;
     align-items: center;
     justify-content: space-between;
 }
 .intro>.intro-left>h1{
     font-size: 3em;
 }
 .intro>.intro-left>p{
     font-weight: 500;
 }


 /* button style */
 .btn{
     color: white;
     background-color: #E02C6D;
     padding: 10px 25px;
     border: 2px solid #E02C6D;
     border-radius: 20px;
     cursor:pointer;
     transition: .3s linear;
 }
 .btn:hover{
     color: black;
     background-color: white;
     font-weight: 700;
 }
 .fa-arrow-right{
     margin-left: 8px;
 }
 .logo-hr{
     margin-top: 40px;
 }
 /* horizontal line style */
 .hr1,.hr2{
     margin-top: 20px;
 }
 /* -------------
 ----------logo-section style */
 .logos{
     display: flex;
     align-items: center;
     gap: 30px;
     margin-left: 50px;
 }
 /*------------ collection section style */
 .collection{
     margin-top: 50px;
 }
 .collection-heading{
     text-align: center;
     font-size: 2em;
 }
 .products{
     display: grid;
     grid-template-columns: repeat(3,1fr);
     grid-row-gap: 20px;
 }
 .product{
   
    width: 329px;
    height: 476px;
    border: 1px solid none;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px rgba(128, 128, 128, 0.048);
 }
.product>img{
    width: 75%;
   margin-left: 35px;
   margin-top: 15px;
}
.product-title,.product-price,.product-ratings,.product-detail{
    margin-left: 35px;
}
.fa-star,.fa-star-half-alt
{
    color: gold;
}
.link{
    margin-top: 20px;
    text-align: end;
   
}

.link>a{
    text-decoration: none;
    color: #E02C6DDE;
    font-weight: 600;
   
}
/* -----------------
-----------------------------.contact-details section */
.contact-details{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* display: flex;
    flex-wrap: wrap; */
    margin-top: 30px;
    grid-column-gap: 10px;
}
.contact-details>button{
    text-align: center;
}
.contact>h1{
    text-align: center;
}
.contact-details>.contact-image>img{
    width: 100%;
}

/* form section */
.text{
    width: 100%;
    margin:5px 0;
    padding: 10px 0;
    border: 2px solid #E02C6D;
    text-align: center;
}
/* footer section */
footer{
    width: 100%;
    height: 30vh;
    margin-top: 30px;
    background-color: black;
}
.footer-container{
    color: white;
  text-align: center;
   
}
.footer-container>h4{
    font-size: 1.4em;
}
.footer-container .fab{
    margin: 0 10px;
}


/*-----------------------
------------------------------- Responsiveness portion */
@media (max-width:688px) {
   
    body{
        margin-left: 0px;
        margin-right: 0;
    }
    
    .intro{
        /* flex-wrap: wrap; */
        display: grid;
        height: fit-content;
        grid-template-columns:repeat(1fr);
        justify-content: center;
        text-align: center;
       
        
        
    }
    .intro-left, .intro-right{
        width: fit-content:
        text-align: center;
       
        
       
    }
    .logos{
        flex-wrap: wrap;
    }
    .collection{
        text-align: center;
    }
    .products{
        grid-template-columns: repeat(1,1fr);
    }
    .product{
        width: 100vw;
        height: fit-content;
      
    }
    .product>img{
        margin-left: 0;
        margin-right: 0;
    }
    .contact-details{
        grid-template-columns: repeat(1,1fr);
       align-content: center;
    }
    .contact-details>.contact-image>img{
        width: 100%;
    }
       
    
    footer{
        width: 100vw;
        height: fit-content;
    }
    
    
   
    
}
